<table width="100%">
  <tr>
    <td class="content">
      <h3>Hello <%= fullname %>,</h3>
      <p>
        This email is to inform you that, your account was recently updated at <%= updatedAt %>.
        If you feel this update wasn't carried out by you please contact customer support.
      </p>
      <p>
        customer support email: <a href="mailto:support@myproperty.com"> Customer support</a>
      </p>
    </td>
  </tr>
</table>