<table role="presentation" width="100%">
  <tr>
    <td class="content">
      <h2>Password Updated</h2>
      <p>Hi <%= fullname %>,</p>
      <p>
        Your PropertyDesk password has been successfully updated.
      </p>
      <div class="notice-box warning">
        <strong>Wasn't you?</strong> If you didn't make this change, contact our support team immediately at
        <a href="mailto:support@propertydesk.com">support@propertydesk.com</a> so we can secure your account.
      </div>
    </td>
  </tr>
</table>
