<table width="100%">
  <tr>
    <td class="content">
      <h3>Hello <%= fullname %>,</h3>
      <p>
        Your password has successfully been updated.for your account.
      </p>
    </td>
  </tr>
  
  <tr>
    <td class="content cta">
      <p style="padding-bottom: 9px;">
        If you didn't initiate this equest please contact customer care urgently.
        <a href="mailto:support@pms.com" class="btn">support@pms.com</a>
      </p>
    </td>
  </tr>
</table>