<table width="100%">
  <tr>
    <td class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Pariatur culpa fugiat repellendus exercitationem, repellat voluptatum, maiores eos nam voluptates fugit dignissimos libero, doloremque nobis. Nam consequatur deleniti reiciendis culpa quibusdam.
      </p>
    </td>
  </tr>
  
  <tr>
    <td class="content cta">
      <p style="padding-bottom: 9px;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos odio aperiam exercitationem reiciendis distinctio. Non!
      </p>
      <a href="#" class="btn">Click Here</a>
    </td>
  </tr>
</table>