<tr>
  <td class="signature">
    <p>© <%= year %> <%= appName %>. All rights reserved.</p>
    <p>
      You're receiving this email because you're a valued customer of our Property Management
      Platform.
    </p>
    <p>
      <a href="#!" style="color: #062f4f">Unsubscribe</a> |
      <a href="#!" style="color: #062f4f">Manage Preferences</a>
    </p>
  </td>
</tr>
