<tr>
  <td>
    <a href="#!">
      <img
        src="https://via.placeholder.com/600x200.png?text=Property+Solutions"
        alt="Property Solutions"
        width="600"
        style="max-width: 100%; height: auto"
      />
    </a>
  </td>
</tr>
