<tr>
  <td style="background-color: #062f4f; padding: 24px 36px;">
    <img
      src="https://property-management-sys.s3.ca-central-1.amazonaws.com/logos/logos/png/email-logo-clean.png"
      alt="PropertyDesk"
      width="180"
      style="display: block; height: auto; border: 0;"
    />
  </td>
</tr>
<tr>
  <td style="height: 3px; background-color: #39a9e0;"></td>
</tr>
